@import url('styles.css');

.secao-personagens{
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    font-size: 20px;

}

.titulo2{
    text-align: center;
    margin-left: 400px;
    transition: 0.2s ease;
    font-size: 40px;
}

.titulo2:hover{
    transform: scale(1.1);
    color: rgb(21, 255, 0);
}

.fotop1{
    width: 270px;
    border-radius: 15px;
    margin-left: 19px;
    transition: 0.2s ease;
    
}

.fotop1:hover{
    transform: scale(1.1);
}

.fotop2{
    width: 270px;
    border-radius: 15px;
    margin-left: 32px;
    transition: 0.2s ease;
}

.fotop2:hover{
    transform: scale(1.1);
}

.fotop3{
    width: 270px;
    border-radius: 15px;
    margin-left: 32px;
    transition: 0.2s ease;
}

.fotop3:hover{
    transform: scale(1.1);
}

.fotop4{
    width: 270px;
    border-radius: 15px;
    margin-left: 32px;
    transition: 0.2s ease;
}

.fotop4:hover{
    transform: scale(1.1);
}

.fotop5{
    width: 270px;
    border-radius: 15px;
    margin-left: 32px;
    transition: 0.2s ease;
}

.fotop5:hover{
    transform: scale(1.1);
}

.fotop6{
    width: 270px;
    border-radius: 15px;
    margin-left: 32px;
    transition: 0.2s ease;
}

.fotop6:hover{
    transform: scale(1.1);
}

.fotop7{
    width: 270px;
    border-radius: 15px;
    margin-left: 32px;
    transition: 0.2s ease;
}

.fotop7:hover{
    transform: scale(1.1);
}

.fotop8{
    width: 270px;
    border-radius: 15px;
    margin-left: 32px;
    transition: 0.2s ease;
}

.fotop8:hover{
    transform: scale(1.1);
}

.nome1{
     transition: 0.3s ease;
}

.nome1:hover{
    transform: scale(1.03);
    color: blue;
}

.nome2{
     transition: 0.3s ease;
}

.nome2:hover{
    transform: scale(1.03);
    color: rgb(41, 155, 15);
}

.nome3{
     transition: 0.3s ease;
}

.nome3:hover{
    transform: scale(1.03);
    color: rgb(0, 238, 255);
}

.nome4{
     transition: 0.3s ease;
}

.nome4:hover{
    transform: scale(1.03);
    color: rgb(255, 255, 255);
}

.nome5{
     transition: 0.3s ease;
}

.nome5:hover{
    transform: scale(1.03);
    color: rgb(251, 46, 248);
}

.nome6{
     transition: 0.3s ease;
}

.nome6:hover{
    transform: scale(1.03);
    color: rgb(95, 249, 34);
}

.nome7{
     transition: 0.3s ease;
}

.nome7:hover{
    transform: scale(1.03);
    color: rgb(255, 233, 36);
}

.nome8{
     transition: 0.3s ease;
}

.nome8:hover{
    transform: scale(1.03);
    color: rgb(255, 0, 0);
}

.logotwd{
    width: 200px;
    
}